@{
    ViewBag.Title = "Home Page";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Caritas</h1>
    <p class="lead">Sistema de cadastro de pessoas carentes, para entrega de doações </p>
</div>


<form class="form-signin" action="@Url.Action("Index", "Index")">
 
    <label for="inputEmail" class="sr-only">Login</label>
    <input type="text" id="inputEmail" class="form-control" placeholder="Login" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="lembrar"> Lembrar
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>
