
@{
    ViewBag.Title = "Cadastrar Pessoa Carente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="adm">Area Administrativa</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <a href="@Url.Action("Index","PessoaCarente")">
                    <div class="threed">
                        <i class="fas fa-user fa-4x"></i>
                    </div>
                </a>
            </div>
            <div class="card-footer text-center">
                Pessoa Carente
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <a href="@Url.Action("Index","Voluntario")">
                    <div class="threed">
                        <i class="fas fa-hands-helping fa-4x"></i>
                    </div>
                </a>
            </div>
            <div class="card-footer text-center">
                Voluntario
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <a href="@Url.Action("Index","Paroquia")">
                    <div class="threed">
                        <i class="fas fa-church fa-4x"></i>
                    </div>
                </a>
            </div>
            <div class="card-footer text-center">
                Paroquia
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body text-center">
                <a href="@Url.Action("Index","Doacao")">
                    <div class="threed">
                        <i class="fas fa-people-carry fa-4x"></i>
                    </div>
                </a>
            </div>
            <div class="card-footer text-center">
                Doações
            </div>
        </div>
    </div>
</div>